@import 'grid';

.root {
  background: rgb(238,238,238);
  background: linear-gradient(0deg, rgba(238,238,238,1) 29%, rgba(122,160,179,1) 100%);
  color: rgb(27, 73, 110);
  font-weight: 700;
  margin-bottom: 10px;
}